{% extends 'base.html' %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>
	<form action=digit_check.html method="post", enctype="multipart/form-data">
      <label for="title">Digit recognizer</label>
      <br>
      <input type="file" name="uploaded-file" id="uploaded-file" accept="image/jpeg, image/png, application/pdf"> 
      <br>

      <label for="content">File preview</label>
      <br>
      <img src="{{ preview }}" alt="Uploaded image">
      <br>
      <button type="submit" name="upload_btn">Submit</button>
  </form>
<script>

  // When user uploads the image this event will get triggered
  input.addEventListener('change', ()=>{
    // Getting image file object from the input variable
    const img_data = input.files[0]
    // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
    // The new object URL represents the specified File object or Blob object.
    const url = URL.createObjectURL(img_data)
    
    // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
    imagebox.innerHTML = `<img src="${url}" id="image" style="width:100%;">`

    // Storing that cropping view image in a variable
    const image = document.getElementById('image')

    // Creating a croper object with the cropping view image
    // The new Cropper() method will do all the magic and diplay the cropping view and adding cropping functionality on the website
    // For more settings, check out their official documentation at https://github.com/fengyuanchen/cropperjs
    const cropper = new Cropper(image, {
    autoCropArea: 1,
    viewMode: 1,
    scalable: false,
    zoomable: false,
    movable: false,
    minCropBoxWidth: 200,
    minCropBoxHeight: 200,
    })

    // When crop button is clicked this event will get triggered
    upload_btn.addEventListener('click', ()=>{
      // This method coverts the selected cropped image on the cropper canvas into a blob object
      cropper.getCroppedCanvas().toBlob((blob)=>{
        
        // Gets the original image data
        let fileInputElement = document.getElementById('id_image');
        // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
        let file = new File([blob], img_data.name,{type:"image/*", lastModified:new Date().getTime()});
        // Create a new container
        let container = new DataTransfer();
        // Add the cropped image file to the container
        container.items.add(file);
        // Replace the original image file with the new cropped image file
        fileInputElement.files = container.files;

        });
      });
  });	
</script>

{% endblock %}