{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/jcrop/dist/jcrop.css">
<script src="https://unpkg.com/jcrop"></script>

<form action="{{ url_for('digit') }}" method="post", enctype="multipart/form-data">
  <label for="title">Digit recognizer</label>
  <br>
  <input type="file" name="uploaded-file" id="uploaded-file" accept="image/jpeg, image/png, application/pdf"> 
  <br>

  <label for="content">File preview</label>
  <br>
  <p>{{guess}}</p>
  <img src="{{ preview }}" id="preview" alt="Uploaded image">
  <br>
  <button type="submit">Submit</button>
</form>

<script>
  const jcrop = Jcrop.attach('preview');
  jcp.newCropper(Rect.from(jcp.el));
  
  // const rect = Jcrop.Rect.create(x,y,w,h);
  // const options = {};
  // jcrop.newWidget(rect,options);

  // const rect = Jcrop.Rect.fromPoints([100,100],[200,200]);
  // jcrop.newCropper(rect,{ aspectRatio: rect.aspect });
</script>

{% endblock %}