{% extends 'base.html' %}

{% block content %}
    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
    <h1>{% block title %} Recognize from a PDF {% endblock %}</h1>

    <h1>OCR Result</h1>
    {% for page in guess %}
    {% for line in page.split('\n') %}
    {{ line }}
    <br />
    {% endfor %}
    {% endfor %}
    
    
    <h2>Your Input</h2>
    <!-- <img src="{{ preview }}" alt="Uploaded image"> -->
    <h3>{{file}}</h3>
    <!-- <img src="{{ url_for('static', filename=file) }}" alt="Uploaded image"> -->
    <iframe id="pdf-viewer" width="800" height="1200"></iframe>

    <script>
        // const obj_url = URL.createObjectURL({{preview}});
        const obj_url = "{{preview}}";
        const iframe = document.getElementById('pdf-viewer');
        iframe.setAttribute('src', obj_url);
        URL.revokeObjectURL(obj_url);
    </script>

    
{% endblock %}
